<mat-toolbar color="primary">
    <span class="material-icons pointer" [routerLink]="['/', 'authentication']">
        arrow_back
        </span>&nbsp;
    <span>Back to login</span>
  </mat-toolbar>
<div class="container-fluid">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ml-auto mr-auto mt-4 pt-4 card">
                <form   #passwordChangeForm="ngForm" [formGroup]="changePassword" class="col-12">
                    <mat-form-field class="col-12">
                      <mat-label>New Password</mat-label>
                      <input matInput type="password" formControlName="new_password" [(ngModel)]="passwordDetail.new_password" name="new_password" required>
                    </mat-form-field>

                    <mat-form-field class="col-12">
                      <mat-label>Confirm Password</mat-label>
                      <input matInput type="password" formControlName="confirm_password" [(ngModel)]="passwordDetail.confirm_password" name="confirm_password" required>
                    </mat-form-field>
                
                    <div class="col-12 text-center mb-4">
                        <password-strength-meter [password]="passwordDetail.new_password" [enableFeedback]="true" (strengthChange)="onPasswordStrengthChanged($event)"></password-strength-meter>
                    </div>

                    <div class="col-12 text-center mb-4" *ngIf="passwordDetail.confirm_password != undefined && passwordDetail.confirm_password != passwordDetail.new_password">
                       <label class="text-danger">Password does not match.</label>
                    </div>
                    <div class="col-12 text-center mb-4 mt-2">
                            <button mat-raised-button color="accent" [disabled]="passwordChangeForm.invalid" (click)="UpdatePassword()">Submit</button>
                    </div>

                  </form>
            </div>
</div>